
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section banner{
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style=" background-image: url('../../Assets/client/images/bg_1.jpg');">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">Course</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div> }
<div></div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/it.jpg" alt="Image" class="img-fluid"></a>
                        <div class="category"><h3>Information technology</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>How To Create Website,Desktop app,Mobile app.</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Use tools and programming languages to create product.</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/eco.jpg" alt="Image" class="img-fluid"></a>
                        <div class="category"><h3>Economics</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>Learn everything about economics</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Economics is the block of disciplines that will provide students with extensive knowledge about economics.</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/hotel.jpg" alt="Image" class="img-fluid"></a>

                        <div class="category"><h3>Hotel Management</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>Learn how to manage hotel and customer service</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Organize and manage all hotel activities in a scientific and effective way.</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/marketing.jpg" alt="Image" class="img-fluid"></a>

                        <div class="category"><h3>Digital Marketing</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>Advertise your your product on social media</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">  Digital marketing means Marketing a product or service through digital technology, mainly on the Internet.</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/travel.jpg" alt="Image" class="img-fluid"></a>
                        <div class="category"><h3>Travel and Tourism</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>  Become a tour guide and learn more foreign language</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Use language to introduce and explain to visitors the cultural and natural heritage of the area.</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="course-single.html"><img src="~/Assets/client/images/chef.jpg" alt="Image" class="img-fluid"></a>
                        <div class="category"><h3>Chef</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                        <h2>Become a professional chef</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">professional cooks, plans and organizes preparations.Cook dishes according to arrangements</p>
                        <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

