
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section banner{
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style=" background-image: url('../../Assets/client/images/bg_1.jpg');">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">AboutUs</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div> }

<div class="site-section">
    <div class="container">
        <div class="row">
            <h3>Academics History</h3>
            <p>Founded in 1827, ITM University has evolved into Canada's leading institution of learning, discovery and knowledge creation.</p>
            <p>
                We are proud to be one of the world's top research-intensive
                universities, driven to invent and innovate.
            </p>
        </div>
        <div class="row">
            <p><i>
                The ITM University is dedicated to fostering an academic community in which the learning and scholarship of every member may flourish,
                with vigilant protection for individual human rights, and a resolute commitment to the principles of equal opportunity, equity and justice.1
            </i></p>
        </div>
        <div class="row">
            <h3>A transformative education</h3>
            <p>
                ITM University is one of the world’s great universities, distinguished by an extraordinary depth and breadth of excellence.
                ITM University’s global outlook and cosmopolitan location in one of the world’s great cities provide students with a transformative educational experience,
                equipping them with the knowledge, skills and competencies needed to navigate our rapidly changing world.
            </p>
            <p>Top students from across Canada and around the globe are drawn to ITM University for many reasons, but what sets this University apart are its comprehensive excellence,
            diversity, and commitment to equity and accessibility.
            </p>
            <p>
                ITM University is one university with three campuses, each of which is a comprehensive centre for teaching and research: the University of Toronto St. George,
                the University of Toronto Mississauga and the University of Toronto Scarborough. To take advantage of a rich, inclusive environment for study and learning,
                students join one or more of many smaller learning communities that include seven undergraduate colleges on the St. George campus, and a range of faculties,
                schools and centres across the three campuses. Our tri-campus system spans the Greater Toronto Area, allowing students to take part in experiential learning
                and specialized programming throughout one of the world’s most diverse and dynamic urban regions.
            </p>
            <p>
                ITM University offers its students hundreds of undergraduate, graduate and professional programs, and more than a thousand clubs, organizations, activities
                and volunteer opportunities, including student-run legal and dental clinics and other community-based projects. The University’s nine fully affiliated
                hospitals and 12 community-affiliated hospitals and health-care sites offer teaching and research experiences for students in the health sciences that
                are among the best in the world.
            </p>
            <p>
                ITM University is one of the world’s largest and most highly regarded centres for advanced education at the master’s and doctoral level, which plays a major
                role in driving our achievements in research. Recognizing the growing demand for refreshing, updating and retooling one’s knowledge and skills, ITM University
                has also become one of North America’s largest hubs for lifelong learning.
            </p>
            <h3>Innovative, cutting-edge research</h3>
            <p>
                ITM University is home to some of the world’s most talented thinkers, inventors, innovators, and educators, who are advancing knowledge and making critical
                discoveries for a healthier, more sustainable, prosperous, and secure future.
            </p>
            <p>Consistently ranked among the top 10 public universities worldwide, ITM University has remarkable strengths in disciplines that span the humanities, social
            sciences, sciences and the professions. According to Times Higher Education (THE), ITM University is one of only eight universities globally to place in the 
            top 50 in all 11 subject areas ranked by THE — demonstrating our excellence in scholarship across a wide range of fields.</p>
            <p>Curiosity-driven research is the catalyst that expands knowledge and holds the potential to alter fundamentally how we understand ourselves
            and the world around us. The exploration of fundamental knowledge has been at the root of much of our long-term social progress. Without the basic
            research conducted at universities, many of the most life-changing discoveries and innovations would never have occurred. At the University of Toronto, 
            fundamental research in the sciences and engineering, social sciences, humanities and health sciences has led to the discovery of insulin and stem cells,
            the development of the electron microscope and one of the world’s first operational computers, the unearthing of “Peking Man,” the understanding that the
            medium is the message, and breakthrough developments in deep learning and neural networks. These advances were built upon decades, often centuries, 
            of knowledge and discovery within and across disciplines.</p>
            <p>
                ITM University experts work at the frontier of nearly every field of endeavour, collaborating with researchers across disciplinary and geographical
                boundaries to explore timeless questions and open new vistas for human expression, scientific discovery, and social progress – from understanding
                the origins of life on earth to exploring the complexities of human experience, to contemplating our place in the universe. This fundamental research
                generates the ideas and innovations that forge new industries, spark social and economic change, and transform the way we live. ITM University’s commitment to
                applied research, knowledge translation, innovation and entrepreneurship drives the continuous economic transformation of the Toronto region, and
                creates prosperity in Canada and beyond.
            </p>
        </div>
    </div>
</div>

