
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slide{
    <div class="hero-slide owl-carousel site-blocks-cover">
        <div class="intro-section" style="background-image: url('../../Assets/client/images/silde1.jpg');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                        <h1>Perfect learning environment</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-section" style="background-image: url('../../Assets/client/images/slide2.jfif');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                        <h1>You can learn how to personalize  learning</h1>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="intro-section" style="background-image: url('../../Assets/client/images/slide4.jfif');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                        <h1>You get more teamwork</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<div class="container">
    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-4 mb-5">
                    <h2 class="section-title-underline mb-5">
                        <span>Why Academics Works</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-mortarboard text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Personalize Learning</h2>
                            <p>Personalizing your study is very important, it helps you to think well and be able to work independently</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-school-material text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Diverse courses</h2>
                            <p>There are 6 disciplines and complementary, diverse study programs for students to choose </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-library text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Curriculum for Students</h2>
                            <p>Curriculum guaranteed and complete, combining theory and practice. </p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">


            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6 mb-5">
                    <h2 class="section-title-underline mb-3">
                        <span>Popular Courses</span>
                    </h2>
                    <p>There are 6 disciplines and complementary, diverse study programs for students to choose</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="owl-slide-3 owl-carousel">
                        <div class="course-1-item">
                            <figure class="thumnail">
                               <img src="~/Assets/client/images/it.jpg" alt="Image" class="img-fluid"></a>                               
                                <div class="category"><h3>Information technology</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>How To Create Website,Desktop app,Mobile app.</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">Use tools and programming languages to create product. </p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                        <div class="course-1-item">
                            <figure class="thumnail">
                               <img src="~/Assets/client/images/eco.jpg" alt="Image" class="img-fluid"></a>
                               
                                <div class="category"><h3>Economics</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>Learn everything about economics</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">Economics is the block of disciplines that will provide students with extensive knowledge about economics.</p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src="~/Assets/client/images/hotel.jpg" alt="Image" class="img-fluid"></a>
                             
                                <div class="category"><h3>Hotel Management</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>Learn how to manage hotel and customer service</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">Organize and manage all hotel activities in a scientific and effective way.</p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src="~/Assets/client/images/marketing.jpg" alt="Image" class="img-fluid"></a>
                            
                                <div class="category"><h3>Digital Marketing</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>Advertise your your product on social media</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">
                                    Digital marketing means Marketing a product or service through digital technology, mainly on the Internet.
                                </p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src="~/Assets/client/images/travel.jpg" alt="Image" class="img-fluid"></a>
                            
                                <div class="category"><h3>Travel and Tourism</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>
                                    Become a tour guide and learn more foreign language
                                </h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">Use language to introduce and explain to visitors the cultural and natural heritage of the area.</p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src="~/Assets/client/images/chef.jpg" alt="Image" class="img-fluid"></a>
                            
                                <div class="category"><h3>Chef</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>Become a professional chef</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <p class="desc mb-4">professional cooks, plans and organizes preparations.Cook dishes according to arrangements</p>
                                <p><a href="/Students/Create" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>




    <div class="section-bg style-1" style="background-image: url('~/Assets/client/images/about_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section-title-underline style-2">
                        <span>About Our University</span>
                    </h2>
                </div>
                <div class="col-lg-8">
                    <p class="lead">Founded in 1827, ITM University has evolved into Canada's leading institution of learning,
                        discovery and knowledge creation. We are proud to be one of the world's top research-intensive universities,
                        driven to invent and innovate.</p>
                    <p> Our students have the opportunity to learn from and work with preeminent thought leaders through our multidisciplinary
                        network of teaching and research faculty, alumni and partners.
                        The ideas, innovations and actions of more than 560,000 graduates continue to have a positive impact on the world.
                    </p>
                    <p><a href="/AboutUs/Index">Read more</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- // 05 - Block -->

    <div class="news-updates">
        <div class="container">

            <div class="row">
                <div class="col-lg-9">
                    <div class="section-heading">
                        <h2 class="text-black">Activities</h2>                       
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="post-entry-big">
                                <a  class="img-link"><img src="~/Assets/client/images/blog_large_1.jpg" alt="Image" class="img-fluid"></a>
                                <div class="post-content">
                                    <div class="post-meta">
                                        Jan 10, 2021
                                    </div>
                                    <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="post-entry-big horizontal d-flex mb-4">
                                <a  class="img-link mr-4"><img src="~/Assets/client/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">Jan 10, 2021</a>                                       
                                    </div>
                                    <h3 class="post-heading"><a href="#">Online educational seminars</a></h3>
                                </div>
                            </div>

                            <div class="post-entry-big horizontal d-flex mb-4">
                                <a href="news-single.html" class="img-link mr-4"><img src="~/Assets/client/images/hack.jpg" alt="Image" class="img-fluid"></a>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">Jan 10, 2021</a>
                                      
                                        
                                    </div>
                                    <h3 class="post-heading"><a href="news-single.html">Hackathon 2021 - technology solution</a></h3>
                                </div>
                            </div>

                            <div class="post-entry-big horizontal d-flex mb-4">
                                <a href="news-single.html" class="img-link mr-4"><img src="~/Assets/client/images/blood.jpg" alt="Image" class="img-fluid"></a>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">Jan 10, 2021</a>                         
                                    </div>
                                    <h3 class="post-heading"><a href="news-single.html"> Blood donation 5th</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="section-heading">
                        <h2 class="text-black">Campus Videos</h2>
                        <a href="#">View All Videos</a>
                    </div>
                    <a href="https://vimeo.com/45830194" class="video-1 mb-4" data-fancybox="" data-ratio="2">
                        <span class="play">
                            <span class="icon-play"></span>
                        </span>
                        <img src="~/Assets/client/images/course_5.jpg" alt="Image" class="img-fluid">
                    </a>                    
                </div>
            </div>
        </div>
    </div>


</div>

