
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section banner{
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style=" background-image: url('../../Assets/client/images/bg_1.jpg');">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0">Activities</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div> }
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <img src="~/Assets/client/images/blog_large_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                <h2 class="section-title-underline mb-5">
                    <span>Campus Camping and Learning Session</span>
                </h2>
                <p>
                    On the school's 50th anniversary.
                    ITM University organized a camping festival for students.
                </p>
                <p> Fortunately, the students participated enthusiastically</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                <img src="~/Assets/client/images/blog_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                <h2 class="section-title-underline mb-5">
                    <span>Online educational seminars</span>
                </h2>
                <p>Recently, the administrators and teachers have successfully organized a meeting 
                to discuss the organization of online learning for students.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <img src="~/Assets/client/images/hack.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                <h2 class="section-title-underline mb-5">
                    <span>Hackathon 2021 - technology solution</span>
                </h2>
                <p>This contest is held annually. in order to create a playground for students to maximize their creativity</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                <img src="~/Assets/client/images/blood.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                <h2 class="section-title-underline mb-5">
                    <span>Blood donation 5th</span>
                </h2>
                <p>Humanitarian blood donation is a beautiful and precious act. Students and staff participated enthusiastically</p>
            </div>
        </div>
    </div>
</div>

